{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {% if type == 'file' %}
        <div class="file-field input-field">
            <div class="btn">
                <span><i class="material-icons left">insert_photo</i>Obrázek</span>
                <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Vyberte obrázek rostliny">
            </div>
        </div>
    {% else %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endif %}
{%- endblock form_widget_simple -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li style="font-size: 20px;"><i class="material-icons valign small left error">error</i>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}