{% extends 'base.html.twig' %}
{% block title %}
    O projektu - {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="section">
            <img src="{{ asset('images/Logo_cz_pl_eu_barevne.jpg') }}" class="responsive-img center">
            <h4 class="center-align">O projektu <span style="color: #4db6ac">INVARO</span></h4>
            <div class="section">
                <h5>Anotace projektu:</h5>
                <blockquote>                    
                    Projekt se týká spolupráce mezi institucemi v oblasti ochrany biologické rozmanitosti přírodních
                    ekosystémů v příhraničních oblastech a zvýšení povědomí místních obyvatel a místních samospráv o
                    problematice spojené s výskytem invazních druhů v návaznosti na směrnici UNEP/CBD/COP/12/L.5
                    INVASIVE/ALIEN/SPECIES. Bude vyvinuta Strategie hodnocení zdrojů a rizik rostlin pro obce v českopolském
                    pohraničí. Výsledky a závěry projektu budou implementovány mezi obyvateli a veřejnými
                    institucemi.
                </blockquote>
            </div>
            <div class="section">
                <h5>Více o projektu:</h5>
                <p>Projekt INVARO se týká ochrany biologické rozmanitosti původních ekosystémů v příhraničních oblastech. Jeho cílem je zvýšit povědomí místních obyvatel a místních samospráv o problematice spojené s výskytem invazivních druhů rostlin. Tyto druhy se šíří nekontrolovaně a jsou hrozbou pro všechny vyvíjející se a již stabilizované suchozemské a vodní ekosystémy. Mají negativní dopad na přírodní prostředí díky změně stanovišť a vytěsňováním původních druhů.</p>
                <p>V rámci projektu INVARO bude vyvinuta autorská metoda k hodnocení zdrojů a rizik spojených s výskytem invazních druhů rostlin v území vybraných obcí v česko-polské příhraniční oblasti. Metoda hodnocení je založena především na použití bezpilotního přístroje - UAV(drones) vybaveného kamerou s dostatečným rozlišením, které umožní identifikaci porostů invazních druhů. Na základě získaných fotografií a terénním ověřením budou definovány zdroje, rizika a možné cesty šíření.</p>
                <p>Bude zpracován plán snížení a eliminace rizik, včetně časového plánu, odhadu nákladů, s uvedením nezbytného monitoringu a údajů o možných zdrojích financování. Cílem projektu je spolupráce mezi institucemi, samosprávou, výměna znalostí a zkušeností k ochraně území před invazními druhy rostlin. V rámci projektu budou realizována školení pro obyvatele a místní samosprávy k řešení invazních druhů. Zkušenosti, výsledky a závěry projektu budou šířeny mezi obyvateli a veřejnými institucemi, zejména v příhraničních oblastech.</p>
            </div>
            <div class="section">
                <h5>Mapa podporovaného území:</h5>
                <a href="{{ asset('images/mapa-uzemi.jpg') }}" target="_blank">Zobrazit mapu v plné velikosti</a>
                <img class="materialboxed responsive-img" src="{{ asset('images/mapa-uzemi_small.jpg') }}">
            </div>
            <div class="section">
                <h5>Subjekty projektu:</h5>
                <div class="center-align">
                    <div class="row card-panel">
                        <div class="col s12 m6">
                            <div>
                                <img class="responsive-img subject-img" src="{{ asset('images/vsb-logo-large.png') }}">
                                <div class="section">
                                    <a class="btn-large" href="https://www.vsb.cz">PŘEJÍT NA WEB</a>
                                </div>
                            </div>
                            <h6>Vysoká škola báňská - Technická univerzita Ostrava</h6>
                        </div>
                        <div class="col s12 m6">
                            <div>
                                <img class="responsive-img subject-img" src="{{ asset('images/gig-logo.png') }}">
                                <div class="section">
                                    <a class="btn-large" href="https://www.gig.eu">PŘEJÍT NA WEB</a>
                                </div>
                            </div>
                            <h6>GIG - Główny Instytut Górnictwa w Katowicach</h6>
                        </div>
                    </div>
                    <div class="row flags">
                        <div class="col s4">
                            <img class="responsive-img z-depth-3" src="{{ asset('images/CZ-flag.png') }}">
                        </div>
                        <div class="col s4">
                            <img class="responsive-img z-depth-3" src="{{ asset('images/eu-flag.png') }}">
                        </div>
                        <div class="col s4">
                            <img class="responsive-img z-depth-3" src="{{ asset('images/PL-flag.png') }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script>
        $(document).ready(function(){
        $('.materialboxed').materialbox();
        });
    </script>
{% endblock %}