{% extends 'base.html.twig' %}
{% block title %}
    Kontakt - {{ parent() }}
{% endblock %}
{% block body %}
<div class="container">
    <div class="section">
        <img src="{{ asset('images/Logo_cz_pl_eu_barevne.jpg') }}" class="responsive-img center">
    </div>
    <div class="row title-box">
        <h5><i class="material-icons md-24">people</i><span>Vedoucí partner - Partner wiodący</span></h5>
    </div>
    <div class="section">
        <h5>Kontaktní informace</h5>
    <table>
        <tbody class="table-contact">
            <tr><td>Název organizace:</td><td>VŠB – Technická univerzita Ostrava, Hornicko-geologická fakulta</td></tr>
            <tr><td>Adresa:</td><td>17. listopadu 15, 708 33  Ostrava - Poruba</td></tr>
            <tr><td>Stát:</td><td>Česká republika</td></tr>
            <tr><td>Kraj:</td><td>Moravskoslezský</td></tr>
            <tr><td>Řešitel:</td><td>Doc. Ing. Barbara Stalmachová, CSc.</td></tr>
            <tr><td>E-mail:</td><td><a href="mailto:barbara.stalmachova@vsb.cz"><i class="material-icons md-18 black-icon-color">email</i> barbara.stalmachova@vsb.cz</a></td></tr>
            <tr><td>Telefon:</td><td>+420 597 323 544</td></tr>
        </tbody>
    </table>
    </div>
    <div class="section">
        <h5>Členové</h5>
        <table>
            <tbody class="table-contact people">
            <tr>
                <td class="label"><i class="material-icons md-18">person</i> Jana Nováková</td>
                <td><a href="mailto:jana.novakova@vsb.cz"><i class="material-icons md-18 black-icon-color">email</i> jana.novakova@vsb.cz</a></td>
            </tr>
            <tr>
                <td class="label"><i class="material-icons md-18">person</i> Hana Švehláková</td>
                <td><a href="mailto:hana.svehlakova@vsb.cz"><i class="material-icons md-18 black-icon-color">email</i> hana.svehlakova@vsb.cz</a></td>
            </tr>
            <tr>
                <td class="label"><i class="material-icons md-18">person</i> Zdeněk Neustupa</td>
                <td><a href="mailto:zdenek.neustupa@vsb.cz"><i class="material-icons md-18 black-icon-color">email</i> zdenek.neustupa@vsb.cz</a></td>
            </tr>
            <tr>
                <td class="label"><i class="material-icons md-18">person</i> Roman Danel</td>
                <td><a href="mailto:roman.danel@vsb.cz"><i class="material-icons md-18 black-icon-color">email</i> roman.danel@vsb.cz</a></td>
            </tr>
            <tr>
                <td class="label"><i class="material-icons md-18">person</i> Lenka Urbancová</td>
                <td><a href="mailto:lenka.urbancova@vsb.cz"><i class="material-icons md-18 black-icon-color">email</i> lenka.urbancova@vsb.cz</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row title-box">
        <h5><i class="material-icons md-24">people</i><span>Partner projektu - Partner</span></h5>
    </div>
    <div class="section">
        <h5>Kontaktní informace</h5>
        <table class="table-contact">
            <tbody>
            <tr><td>Název organizace:</td><td>GIG – Główny Instytut Górnictwa w Katowicach</td></tr>
            <tr><td>Adresa:</td><td>Plac Gwarków 1, 40-166 Katowice</td></tr>
            <tr><td>Stát:</td><td>Polsko</td></tr>
            <tr><td>Kraj:</td><td>Slezské vojvodství</td></tr>
            <tr><td>Řešitel:</td><td>dr inż. Paweł Olszewski</td></tr>
            <tr><td>E-mail:</td><td> <a href="mailto:polszewski@gig.eu"><i class="material-icons md-18 black-icon-color">email</i> polszewski@gig.eu</a></td></tr>
            <tr><td>Telefon:</td><td>+48 660 435 015</td></tr>
            </tbody>
        </table>
    </div>
    <div class="section">
        <h5>Členové</h5>
        <table>
            <tbody class="table-contact people">
            <tr>
                <td class="label"><i class="material-icons md-18">person</i> Jacek Grabowski</td>
                <td><a href="mailto:jgrabowski@gig.eu"><i class="material-icons md-18 black-icon-color">email</i> jgrabowski@gig.eu</a></td>
            </tr>
            <tr>
                <td class="label"><i class="material-icons md-18">person</i> Paweł Olszewski</td>
                <td><a href="mailto:polszewski@gig.eu"><i class="material-icons md-18 black-icon-color">email</i> polszewski@gig.eu</a></td>
            </tr>
            <tr>
                <td class="label"><i class="material-icons md-18">person</i> Barbara Białecka</td>
                <td><a href="mailto:bbialecka@gig.eu"><i class="material-icons md-18 black-icon-color">email</i> bbialecka@gig.eu</a></td>
            </tr>
            <tr>
                <td class="label"><i class="material-icons md-18">person</i> Stanisław Prusek</td>
                <td><a href="mailto:sprusek@gig.eu"><i class="material-icons md-18 black-icon-color">email</i> sprusek@gig.eu</a></td>
            </tr>
            <tr>
                <td class="label"><i class="material-icons md-18">person</i> Sylwia Jarosławska-Sobór</td>
                <td><a href="mailto:ssobor@gig.eu"><i class="material-icons md-18 black-icon-color">email</i> ssobor@gig.eu</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}