{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="section">
        <img src="{{ asset('images/Logo_cz_pl_eu_barevne.jpg') }}" class="responsive-img center">
        <div class="center-align">
               <hr>
        </div>
        <h4 class="center-align">Závěrečné výsledky projektu</h4>
        <div class="center-align record-title">
            <div class="col s11">
                <a href="{{ path('results') }}">
                    VÝSLEDKY <i class="material-icons md-18">arrow_forward</i>
                </a>
            </div>
        </div>
        <hr>
        <h4 class="center-align">!! Školení - Warsztaty !!</h4>
        <div class="center-align record-title">
            <b>20.2.2019 Ostrava</b>
            <br>
            <div class="col s11">
                <span style="margin-left: 5px;">Pozvánka na Závěrečnou konferenci (NA2, VŠB-TU Ostrava, 20.2.2019 9.00)</span>
                <a href="{{ asset('files/Pozvanka_zaverecna_konference_INVARO.pdf') }}">
                    <i class="material-icons md-18">picture_as_pdf</i>
                </a>
            </div>
            <div class="col s11">
                <span style="margin-left: 5px;">Program Závěrečné konference</span>
                <a href="{{ asset('files/Program_zaverecna_konference_INVARO.pdf') }}">
                    <i class="material-icons md-18">picture_as_pdf</i>
                </a>
            </div>
        </div>
        <div class="center-align record-title">
            <b>21.11.2018 Ostrava</b>
            <br>
            <div class="col s11">
                <span style="margin-left: 5px;">Pozvánka na školení Invazní kytky, co s nimi? (NA2, VŠB-TU Ostrava, 21.11.2018 9.00)</span>
                <a href="{{ asset('files/pozvanka_Skoleni_INVARO_2.pdf') }}">
                    <i class="material-icons md-18">picture_as_pdf</i>
                </a>
            </div>
            <div class="col s11">
                <span style="margin-left: 5px;">Program školení</span>
                <a href="{{ asset('files/program_Skoleni_INVARO_2.pdf') }}">
                    <i class="material-icons md-18">picture_as_pdf</i>
                </a>
            </div>
        </div>
        <div class="center-align record-title">
               <b>8.6.2018 Mszana * 12.6.2018 Orlová * 15.6.2018 Brenna * 20.6.2018 Żywiec</b>
               <br>
            <div class="col s11">
                <span style="margin-left: 5px;">Pozvánka na školení Invazní kytky, co s nimi? (MÚ Orlová, 12.6.2018 9.00)</span>
                <a href="{{ asset('files/pozvanka_Skoleni_INVARO.pdf') }}">
                    <i class="material-icons md-18">picture_as_pdf</i>
                </a>
            </div>
            <div class="col s11">
                <span style="margin-left: 5px;">Program školení</span>
                <a href="{{ asset('files/program_Skoleni_INVARO.pdf') }}">
                    <i class="material-icons md-18">picture_as_pdf</i>
                </a>
            </div>
            <h6><b>Podkladové materiály:</b></h6>
            <div class="col s11">
                <span style="margin-left: 5px;">Invazivní druhy rostlin - právní aspekty</span>
                <a href="{{ asset('files/INVARO_Orlova.pdf') }}">
                    <i class="material-icons md-18">picture_as_pdf</i>
                </a>
            </div>
            <div class="col s11">
                <span style="margin-left: 5px;">Invasive plants species (EN)</span>
                <a href="{{ asset('files/INVARO_EN.pdf') }}">
                    <i class="material-icons md-18">picture_as_pdf</i>
                </a>
            </div>
            <div class="col s11">
                <span style="margin-left: 5px;">Roślinne gatunki inwazyjne (PL)</span>
                <a href="{{ asset('files/INVARO_PL.pdf') }}">
                    <i class="material-icons md-18">picture_as_pdf</i>
                </a>
            </div>
           <hr>
        </div>
        <div class="center-align record-title">
            <b>Mobilní aplikace INVARO pro OS Android - Aplikacja dla telefonów komórkowych Android</b><br>
            <div class="col s11">
                <a href="http://homel.vsb.cz/~dan11/Invaro/INVARO_v1_4.apk">
                    STÁHNOUT <i class="material-icons md-18">get_app</i>
                </a>
            </div>Verze: 1.4 (19.6.2018)<br>
            <div class="col s11">
                <span style="margin-left: 5px;">Dokumentace k aplikaci</span>
                <a href="{{ asset('files/Invaro_mobilni-aplikace.pdf') }}">
                    <i class="material-icons md-18">picture_as_pdf</i>
                </a>
            </div>
               Používání aplikace vyžaduje nainstalovaný Acrobat PDF. <br>
               Korzystanie z aplikacji wymaga zainstalowanego programu Acrobat PDF.
            <hr>
            <b>Mobilní aplikace INVARO pro Windows Phone - Aplikacja dla telefonów komórkowych Windows Phone</b>
            <div class="col s11">
                <a href="#">
                    STÁHNOUT <i class="material-icons md-18">get_app</i>
                </a>
            </div>
            <hr>
        </div>
         
        <h4 class="center-align">Projekt: <span style="color: #4db6ac">INVARO</span></h4>
        <div class="center-align">
                HODNOCENÍ ZDROJŮ A RIZIK SPOJENÝCH S INVAZNÍMI DRUHY ROSTLIN V PŘÍHRANIČNÍ OBLASTI<br>
                OCENA ZASOBÓW I ZAGROŻEŃ ZWIĄZANYCH Z ROŚLINNYMI GATUNKAMI INWAZYJNYMI NA TERENACH TRANSGRANICZNYCH<br>
                <hr>
                <b>finacování -  dofinansowanie </b><br>
                Spolufinancování z  Evropského fondu pro regionální rozvoj – Europejski fundusz rozwoju regionalnego<br>
                Interreg V-A Česká Republika-Polsko - Interreg V-A Republika Czeska-Polska <br>
                <br>
                <b>realizace - realizacja</b><br>
                03/2017 - 03/2019<br>
                <br>
                <b>partneři - partnerzy projektu</b><br>
                Vedoucí partner/Partner wiodący: Vysoká škola báňská - Technická univerzita Ostrava<br>
                Partner: GIG - Główny Instytut Górnictwa w Katowicach<br>
                <br>
                <b>anotace projektu - streszcenie projektu </b> <br>
              
                Projekt se týká spolupráce mezi institucemi v oblasti ochrany biologické rozmanitosti přírodních
                ekosystémů v příhraničních oblastech a zvýšení povědomí místních obyvatel a místních samospráv o
                problematice spojené s výskytem invazních druhů v návaznosti na směrnici UNEP/CBD/COP/12/L.5
                INVASIVE/ALIEN/SPECIES. Bude vyvinuta Strategie hodnocení zdrojů a rizik rostlin pro obce v českopolském
                pohraničí. Výsledky a závěry projektu budou implementovány mezi obyvateli a veřejnými
                institucemi. <br>
                <br>
                Projekt dotyczy współpracy między instytucjami w ramach ochrony bioróżnorodności rodzimych
                ekosystemów na terenach transgranicznych i podniesienia świadomości mieszkańców i samorządów
                związanych z występowaniem gatunków inwazyjnych w związku z dyrektywą UNEP/CBD/COP/12/L.5
                INVASIVE/ALIEN/SPECIES. Zostanie opracowana Strategia oceny zasobów i zagrożeń dla gmin czeskopolskiego
                 pogranicza. Wyniki i wnioski z projektu zostaną implementowane wśród mieszkańców i
                instytucji publicznych.<br>
              <p>
                <script>
                datum = new Date();
                  with(datum)
                  {
                    d = getDate();
                    m = getMonth() + 1;
                    if (document.all)
                      r = getYear()
                    else 
                      r = getYear() + 1900
                  }
                  document.write(d+"."+m+"."+r);
                </script>
             </p>
            <!---- ABZ rychle pocitadlo ----> 
            <a href="http://pocitadlo.abz.cz/" title="Počítadlo přístupů"><img src="http://pocitadlo.abz.cz/aip.php?tp=bd" alt="počítadlo.abz.cz" border="0" /></a>

            <!--img class="vsb-logo-dash responsive-img" src="{{ asset('images/vsb-logo-large.png') }}"-->
        </div>
    </div>
</div>
{% endblock %}