<footer class="page-footer">
    <div class="footer-copyright teal lighten-2">
        <div class="container">
            © 2017 INVARO
            <a class="grey-text text-lighten-4 right" href="https://www.vsb.cz/cs/">VŠB-TUO</a>
        </div>
    </div>
</footer>