{% set route = app.request.attributes.get('_route') %}
<ul id="dropdown-user" class="dropdown-content" style="margin-top: 64px">
    {% if is_granted('ROLE_ADMIN') %}
    <li><a href="{{ path('admin_dashboard') }}">Administrace</a></li>
    {% endif %}
    <li><a href="{{ path('fos_user_security_logout') }}">Odhlásit se</a></li>
</ul>
<ul id="dropdown-user-mobile" class="dropdown-content" style="margin-top: 48px">
    {% if is_granted('ROLE_ADMIN') %}
    <li><a href="{{ path('admin_dashboard') }}">Administrace</a></li>
    {% endif %}
    <li><a href="{{ path('fos_user_security_logout') }}">Odhlásit se</a></li>
</ul>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey lighten-4">
                <a href="{{ path('dashboard') }}" class="brand-logo">
                    <a id="logo-container" class="brand-logo">
                        <span>INVARO</span>
                        <img src="{{ asset('images/invaro-logo.png') }}">
                    </a>
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="waves-effect waves-light {{ route ==  'dashboard' ? "active" }}"><a href="{{ path('dashboard') }}"><i class="material-icons small left">dashboard</i>Přehled</a></li>
                    <!--li class="waves-effect waves-light {{ route ==  'map' ? "active" }}"><a href="{{ path('map') }}"><i class="material-icons small left">language</i>Mapa</a></li-->
                    <li class="waves-effect waves-light {{ route ==  'plants' ? "active" }}"><a href="{{ path('plants') }}"><i class="material-icons small left">local_florist</i>Invazní rostliny</a></li>
                    <li class="waves-effect waves-light {{ route ==  'about' ? "active" }}"><a href="{{ path('about') }}"><i class="material-icons small left">info_outline</i>O projektu</a></li>
                    <li class="waves-effect waves-light {{ route ==  'contact' ? "active" }}"><a href="{{ path('contact') }}"><i class="material-icons small left">perm_contact_calendar</i>Kontakt</a></li>
                    <li class="waves-effect waves-light {{ route ==  'records' ? "active" }}"><a href="{{ path('records') }}"><i class="material-icons small left">speaker_notes</i>Zápisy</a></li>
                    <li class="waves-effect waves-light {{ route ==  'results' ? "active" }}"><a href="{{ path('results') }}"><i class="material-icons small left">assessment</i>Výsledky</a></li>
                    {% if app.user %}
                        <li class="waves-effect waves-light dropdown-button username-dropdown" data-activates="dropdown-user"><a><i class="material-icons small left">account_circle</i>{{ app.user.username }} <i class="material-icons right">arrow_drop_down</i></a></li>
                    {% else %}
                        <li class="waves-effect waves-light {{ route ==  'fos_user_security_login' ? "active" }}"><a href="{{ path('fos_user_security_login') }}"><i class="material-icons small left">account_circle</i>Přihlášení</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
<ul class="side-nav grey lighten-4" id="mobile-demo">
    <li class="{{ route ==  'dashboard' ? "active" }}"><a href="{{ path('dashboard') }}"><i class="material-icons small left">dashboard</i>Přehled</a></li>
    {#<li class="{{ route ==  'map' ? "active" }}"><a href="{{ path('map') }}"><i class="material-icons small left">language</i>Mapa</a></li>#}
    <li class="{{ route ==  'plants' ? "active" }}"><a href="{{ path('plants') }}"><i class="material-icons small left">local_florist</i>Invazivní rostliny</a></li>
    <li class="{{ route ==  'about' ? "active" }}"><a href="{{ path('about') }}"><i class="material-icons small left">info_outline</i>O projektu</a></li>
    <li class="{{ route ==  'contact' ? "active" }}"><a href="{{ path('contact') }}"><i class="material-icons small left">perm_contact_calendar</i>Kontakt</a></li>
    <li class="{{ route ==  'records' ? "active" }}"><a href="{{ path('records') }}"><i class="material-icons small left">speaker_notes</i>Zápisy</a></li>
    <li class="{{ route ==  'results' ? "active" }}"><a href="{{ path('results') }}"><i class="material-icons small left">assessment</i>Výsledky</a></li>
    {% if app.user %}
    <li class="dropdown-button username-dropdown" data-activates="dropdown-user-mobile"><a><i class="material-icons small left">account_circle</i>{{ app.user.username }} <i class="material-icons right">arrow_drop_down</i></a></li>
    {% else %}
    <li class=" {{ route ==  'fos_user_security_login' ? "active" }}"><a href="{{ path('fos_user_security_login') }}"><i class="material-icons small left">account_circle</i>Přihlášení</a></li>
    {% endif %}
</ul>
