{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://js.arcgis.com/4.1/esri/css/main.css">
    <style>
        html, body, #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        }
    </style>
{% endblock %}

{% block main %}
{% endblock %}

{% block body %}
    <div class="row" id="preloader-row">
        <div class="center">
            <div class="preloader-wrapper big active center">
                <div class="spinner-layer">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="viewDiv">
    </div>
{% endblock %}

{% block mainEnd %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#preloader-row").hide();
        })
    </script>
    <script src="https://js.arcgis.com/4.1/"></script>
    <script type="text/javascript">

        require([
            "esri/Map",
            "esri/views/MapView",
            "esri/layers/FeatureLayer",
            "dojo/on",
            "dojo/dom",
            "dojo/request",
            "dojo/json",
            "dojo/domReady!"
        ], function(Map, MapView, FeatureLayer, on, dom, request, JSON) {
            var featureLayer = new FeatureLayer({
                url: "https://services.arcgis.com/V6ZHFr6zdgNZuVG0/ArcGIS/rest/services/NYCDemographics1/FeatureServer/0",
                outFields: ["*"]
            });

            var map = new Map({
                basemap: "streets",
                layers: [featureLayer]
            });

            view = new MapView({
                container: "viewDiv",
                map: map,
                zoom: 11,
                center: [-73.950, 40.702] //CZ [16, 49]
            });

            var template = {
                title: '<div class="progress"><div class="indeterminate"></div></div>',
                content:
                '<div class="popup-content-ready">' +
                '<a href="" id="popup-link"></a>' +
                '<p id="popup-binomial-name"></p>' +
                '<img id="popup-image" src="{{ asset('images/rostliny/plant-default.jpg') }}">' +
                '</div>'
            };

            featureLayer.popupTemplate = template;

            var defaultImageSrc = '{{ asset('images/rostliny/plant-default.jpg') }}';

            view.on("click", function(evt){
                var screenPoint = evt.screenPoint;
                view.hitTest(screenPoint)
                    .then(function(response){
                        objectId = (response.results[0].graphic.attributes.ObjectID);
                    });
                request.get("{{ path('map_popup_data') }}", {
                    query: {
                        objectId: objectId
                    }
                }).then(function (data) {
                    var header = (dojo.query(".esri-popup__header-title"));
                    var binomialName = dom.byId("popup-binomial-name");
                    var link = dom.byId("popup-link");
                    var image = dom.byId("popup-image");

                    var plant = JSON.parse(data);

                    if (plant.ok === false){
                        header[0].innerHTML = 'Záznam nenalezen.';
                        binomialName.innerHTML = '';
                        link.href = '';
                        link.innerHTML = '';
                        image.src = defaultImageSrc;
                    }
                    else {
                        header[0].innerHTML = plant.name;
                        binomialName.innerHTML = plant.binomialName;
                        link.href = plant.link;
                        link.innerHTML = 'Přejít na detail';
                        imageSrc = image.src;
                        newImageSrc = imageSrc.replace('plant-default', plant.image);
                        if (plant.image !== null){
                            image.src = newImageSrc;
                        }
                    }
                })
            });

        });

    </script>
{% endblock %}
