{% extends 'base.html.twig' %}
{% block title %}
    Invazní rostliny - {{ parent() }}
{% endblock %}
{% form_theme searchForm _self %}
{% block button_widget %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    {% set iconHtml = '<i class="material-icons">search</i>' %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ iconHtml|raw }}</button>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="row center">
                {{ form_start(searchForm) }}
                <div class="col s9 m10 l11">
                    <nav>
                        <div class="nav-wrapper teal lighten-1">
                            {#<form>
                                <div class="input-field">
                                    <input id="search" type="search" placeholder="Zadejte název" required>
                                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>
                            </form>#}
                            <div class="input-field">
                                {{ form_widget(searchForm.query) }}
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col s3 m2 l1">
                    {{ form_widget(searchForm.submit, {'attr': {'class': 'btn-floating btn-large waves-effect waves-light'}}) }}
                </div>
                {{ form_end(searchForm) }}
            </div>
            {% if plants is empty %}
                <h6 class="query-results">Nebyly nalezeny žádné výsledky pro výraz <span>{{ query }}</span>.</h6>
            {% elseif query is not empty %}
                <h6 class="query-results">Zobrazeny výsledky pro výraz <span>{{ query }}</span>:</h6>
            {% endif %}
            <div class="row">
                <div class="col s12 cards-container">
                    {% for plant in plants %}
                        <div class="card">
                            <div class="card-image">
                            {% if file_exists(web_path ~ 'images/rostliny/' ~ plant.image ~ '.jpg') %}
                                <img src="{{ asset('images/rostliny/' ~ plant.image ~ '.jpg') }}" id="plant-image" class="responsive-img">
                            {% else %}
                                <img src="{{ asset('images/rostliny/plant-default.jpg') }}" id="plant-image" class="responsive-img">
                            {% endif%}
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">{{ plant.name }}</span>
                                <p><a href="{{ path('plants_detail', {'slug': plant.slug}) }}">Přejít na detail</a></p>
                            </div>
                            <div class="card-tabs">
                                <ul class="tabs tabs-fixed-width">
                                    <li class="tab"><a class="active" href="#binom-{{ plant.id }}">Latinský název</a></li>
                                    <li class="tab"><a href="#location-{{ plant.id }}">Lokace</a></li>
                                    <li class="tab"><a href="#dimensions-{{ plant.id }}">Rozměry</a></li>
                                </ul>
                            </div>
                            <div class="card-content grey lighten-4">
                                <div id="binom-{{ plant.id }}">{{ plant.binomialName }}</div>
                                <div id="location-{{ plant.id }}">
                                    {% for location in plant.locations %}
                                        {{ location.name }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </div>
                                <div id="dimensions-{{ plant.id }}">Výška: {{ plant.height }} m</div>
                            </div>
                        </div>
                    {% endfor %}
                    {#<div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Card Title</span>
                            <p>Simple card </p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}