{% extends 'base.html.twig' %}
{% block title %}
    {{ plant.name }} - {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <div class="detail-title">
                        <h5 class="teal-text center">{{ plant.name }}</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l6">
                    <div class="detail-image">
                        {% if file_exists(web_path ~ 'images/rostliny/' ~ plant.image ~ '.jpg') %}
                            <img class="materialboxed responsive-img z-depth-4" width="250" src="{{ asset('images/rostliny/' ~ plant.image ~ '.jpg') }}">
                        {% else %}
                            <img class="materialboxed responsive-img z-depth-4" width="250" src="{{ asset('images/rostliny/plant-default.jpg') }}" >
                        {% endif%}
                    </div>
                </div>
                <div class="col s12 l6">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">info_outline</i>Latinský název</div>
                            <div class="collapsible-body"><span>{{ plant.binomialName }}</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">comment</i>Popis</div>
                            <div class="collapsible-body"><span>{{ plant.description }}</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">place</i>Lokace</div>
                            <div class="collapsible-body">
                                <ul>
                                    {% for country in countries %}
                                        <img class="z-depth-1" src="{{ asset('images/' ~ country.countryCode ~ '-flag.png') }}" width="30px">
                                        {% for location in plant.locations %}
                                            {% if location.country == country %}
                                            <li>{{ location.name }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if not loop.last %}<br>{% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">settings_overscan</i>Rozměry</div>
                            <div class="collapsible-body"><span>Výška: {{ plant.height }} m</span></div>
                        </li>
                    </ul>
                    <div class="col s12">
                        <div>
                            <label for="plantsSelect">Přejít na detail jiné rostliny:</label>
                            <select id="plantsSelect" class="icons" onchange="location = this.value;">
                                <option disabled selected>Zvolte rostlinu</option>
                                {% for plantToSelect in plants %}
                                    {% if plantToSelect.id != plant.id %}
                                        <option value="{{ path('plants_detail', {'slug': plantToSelect.slug}) }}"
                                                {% if file_exists(web_path ~ 'images/rostliny/' ~ plantToSelect.image ~ '.jpg') %}
                                                data-icon="{{ asset('images/rostliny/' ~ plantToSelect.slug ~ '.jpg') }}"
                                                {% else %}
                                                data-icon="{{ asset('images/rostliny/plant-default.jpg') }}"
                                                {% endif %}
                                                class="circle">{{ plantToSelect.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="center">
                            <a href="{{ path('plants') }}" class="waves-effect waves-teal btn">Všechny rostliny</a>
                        </div>
                    </div>
                </div>
            </div>
            {% if gallery is not empty %}
            <div class="row">
                <div class="col s12">
                    <div class="row title-box">
                        <h5><i class="material-icons">photo_library</i> Galerie</h5>
                    </div>
                    <div class="popup-gallery">
                        {% for photo in gallery %}
                        <a href="{{ asset('images/rostliny/' ~ plant.slug ~ '/' ~ photo.file ~ '.jpg') }}" title="{{ photo.title }}"><img src="{{ asset('images/rostliny/' ~ plant.slug ~ '/' ~ photo.file ~ '.jpg') }}" width="100" height="100"></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.materialboxed').materialbox();
            $('select').material_select();
        });
    </script>
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.popup-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Načítání obrázku #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0,1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">Obrázek #%curr%</a> se nepodařilo načíst.',
                    titleSrc: function(item) {
                        return item.el.attr('title');
                    }
                }
            });
        });
    </script>
{% endblock %}