{% extends 'base.html.twig' %}
{% block title %}
    Zápisy - {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
{% endblock %}
{% block body %}
<div class="container">
    <div class="section">
        <img src="{{ asset('images/Logo_cz_pl_eu_barevne.jpg') }}" class="responsive-img center">
        <h4>Zápisy - Protokoły</h4>
        <div class="section record">
            <div class="row title-box">
                <h5>
                    <i class="material-icons md-18 teal-icon-color">today</i><span>15.1.2019</span>
                    <i class="material-icons md-18 teal-icon-color">location_on</i><span>Ostrava</span>
                </h5>
            </div>
            <div class="record-titles">
                <div class="record-title row">
                    <div class="col s1">
                        <img class="z-depth-1 center" src="{{ asset('images/CZ-flag.png') }}" width="24px">
                    </div>
                    <div class="col s11">
                        <span style="margin-left: 5px;">Pracovní schůzka řešitelů projektu</span>
                        <a href="{{ asset('files/Ostrava 15.1.2019 - CZ.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
                <div class="record-title row">
                    <div class="col s1">
                        <img class="z-depth-1" src="{{ asset('images/PL-flag.png') }}" width="24px">
                    </div>
                    <div class="col s11">
                        <span style="margin-left: 5px;">Protokół z roboczego spotkania uczestników projektu</span>
                    </div>
                </div>
                <div class="record-gallery">
                    <div class="row">
                        <div class="col s12">
                            <div class="popup-gallery">
                                <a href="{{ asset('images/zapisy/2019-01-15-Ostrava/1.jpg') }}" title="15.1.2019 Ostrava - 1"><img src="{{ asset('images/zapisy/2019-01-15-Ostrava/1.jpg') }}" width="177" height="100"></a>
                                <a href="{{ asset('images/zapisy/2019-01-15-Ostrava/2.jpg') }}" title="15.1.2019 Ostrava - 2"><img src="{{ asset('images/zapisy/2019-01-15-Ostrava/2.jpg') }}" width="177" height="100"></a>
                                <a href="{{ asset('images/zapisy/2019-01-15-Ostrava/3.jpg') }}" title="15.1.2019 Ostrava - 3"><img src="{{ asset('images/zapisy/2019-01-15-Ostrava/3.jpg') }}" width="177" height="100"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section record">
            <div class="row title-box">
                <h5>
                    <i class="material-icons md-18 teal-icon-color">today</i><span>28.2.2018</span>
                    <i class="material-icons md-18 teal-icon-color">location_on</i><span>Ostrava</span>
                </h5>
            </div>
            <div class="record-titles">
                <div class="record-title row">
                    <div class="col s1">
                        <img class="z-depth-1 center" src="{{ asset('images/CZ-flag.png') }}" width="24px">
                    </div>
                    <div class="col s11">
                        <span style="margin-left: 5px;">Pracovní schůzka řešitelů projektu</span>
                        <a href="{{ asset('files/Ostrava 28.2.2018 - CZ.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
                <div class="record-title row">
                    <div class="col s1">
                        <img class="z-depth-1" src="{{ asset('images/PL-flag.png') }}" width="24px">
                    </div>
                    <div class="col s11">
                        <span style="margin-left: 5px;">Protokół z roboczego spotkania uczestników projektu</span>
                    </div>
                </div>
                <div class="record-gallery">
                    <div class="row">
                        <div class="col s12">
                            <div class="popup-gallery">
                                <a href="{{ asset('images/zapisy/2018-02-28-Ostrava/1.jpg') }}" title="28.2.2018 Ostrava - 1"><img src="{{ asset('images/zapisy/2018-02-28-Ostrava/1.jpg') }}" width="133" height="100"></a>
                                <a href="{{ asset('images/zapisy/2018-02-28-Ostrava/2.jpg') }}" title="28.2.2018 Ostrava - 2"><img src="{{ asset('images/zapisy/2018-02-28-Ostrava/2.jpg') }}" width="133" height="100"></a>
                                <a href="{{ asset('images/zapisy/2018-02-28-Ostrava/3.jpg') }}" title="28.2.2018 Ostrava - 3"><img src="{{ asset('images/zapisy/2018-02-28-Ostrava/3.jpg') }}" width="133" height="100"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section record">
            <div class="row title-box">
                <h5>
                    <i class="material-icons md-18 teal-icon-color">today</i><span>8.12.2017</span>
                    <i class="material-icons md-18 teal-icon-color">location_on</i><span>Ostrava</span>
                </h5>
            </div>
            <div class="record-titles">
                <div class="record-title row">
                    <div class="col s1">
                        <img class="z-depth-1 center" src="{{ asset('images/CZ-flag.png') }}" width="24px">
                    </div>
                    <div class="col s11">
                        <span style="margin-left: 5px;">Pracovní schůzka řešitelů projektu</span>
                        <a href="{{ asset('files/Ostrava 8.12.2017 - CZ.pdf') }}" target="_blank">
                        <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
                <div class="record-title row">
                    <div class="col s1">
                        <img class="z-depth-1" src="{{ asset('images/PL-flag.png') }}" width="24px">
                    </div>
                    <div class="col s11">
                        <span style="margin-left: 5px;">Protokół z roboczego spotkania uczestników projektu</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="section record">
            <div class="row title-box">
                <h5>
                    <i class="material-icons md-18 teal-icon-color">today</i><span>31.10.2017</span>
                    <i class="material-icons md-18 teal-icon-color">location_on</i><span>Katowice</span>
                </h5>
            </div>
            <div class="record-titles">
                <div class="record-title row">
                    <div class="col s1">
                        <img class="z-depth-1 center" src="{{ asset('images/CZ-flag.png') }}" width="24px">
                    </div>
                    <div class="col s11">
                        <span style="margin-left: 5px;">Pracovní schůzka řešitelů projektu</span>
                        <a href="{{ asset('files/Katowice 31.10.2017 - CZ.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
                <div class="record-title row">
                    <div class="col s1">
                        <img class="z-depth-1" src="{{ asset('images/PL-flag.png') }}" width="24px">
                    </div>
                    <div class="col s11">
                        <span style="margin-left: 5px;">Protokół z roboczego spotkania uczestników projektu</span>
                        <a href="{{ asset('files/Katowice 31.10.2017 - PL.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section record">
            <div class="row title-box">
                <h5>
                    <i class="material-icons md-18 teal-icon-color">today</i><span>6.9.2017</span>
                    <i class="material-icons md-18 teal-icon-color">location_on</i><span>Ostrava</span>
                </h5>
            </div>
            <div class="record-titles">
                <div class="record-title row">
                    <div class="col s1">
                        <img class="z-depth-1" src="{{ asset('images/CZ-flag.png') }}" width="24px">
                    </div>
                    <div class="col s11">
                        <span style="margin-left: 5px;">Pracovní schůzka řešitelů projektu</span>
                        <a href="{{ asset('files/Ostrava 6.9.2017 - CZ.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
                <div class="record-title row">
                    <div class="col s1">
                        <img class="z-depth-1" src="{{ asset('images/PL-flag.png') }}" width="24px">
                    </div>
                    <div class="col s11">
                        <span style="margin-left: 5px;">Protokół ze spotkania uczestników projektu</span>
                        <a href="{{ asset('files/Ostrava 6.9.2017 - PL.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section record">
            <div class="row title-box">
                <h5>
                    <i class="material-icons md-18 teal-icon-color">today</i><span>19.5.2017</span>
                    <i class="material-icons md-18 teal-icon-color">location_on</i><span>Katowice</span>
                </h5>
            </div>
            <div class="record-titles">
                <div class="record-title row">
                    <div class="col s1">
                        <img class="z-depth-1" src="{{ asset('images/CZ-flag.png') }}" width="24px">
                    </div>
                    <div class="col s11">
                        <span style="margin-left: 5px;">Zahajovací konference projektu</span>
                        <a href="{{ asset('files/Katowice 19.5.2017 - CZ_novy.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
                <div class="record-title row">
                    <div class="col s1">
                        <img class="z-depth-1" src="{{ asset('images/PL-flag.png') }}" width="24px">
                    </div>
                    <div class="col s11">
                        <span style="margin-left: 5px;">Konferencja rozpoczynająca</span>
                        <a href="{{ asset('files/Katowice 19.5.2017 - PL.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section record">
            <div class="row title-box">
                <h5>
                    <i class="material-icons md-18 teal-icon-color">today</i><span>11.5.2017</span>
                    <i class="material-icons md-18 teal-icon-color">location_on</i><span>Ostrava</span>
                </h5>
            </div>
            <div class="record-titles">
                <div class="record-title row">
                    <div class="col s1">
                        <img class="z-depth-1" src="{{ asset('images/CZ-flag.png') }}" width="24px">
                    </div>
                    <div class="col s11">
                        <span style="margin-left: 5px;">Kick off meeting projektu Invaro</span>
                        <a href="{{ asset('files/Ostrava 11.5.2017 - CZ_novy.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
                <div class="record-title row">
                    <div class="col s1">
                        <img class="z-depth-1" src="{{ asset('images/PL-flag.png') }}" width="24px">
                    </div>
                    <div class="col s11">
                        <span style="margin-left: 5px;">Kick off meeting projektu Invaro</span>
                        <a href="{{ asset('files/Ostrava 11.5.2017 - PL.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.popup-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Načítání obrázku #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0,1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">Obrázek #%curr%</a> se nepodařilo načíst.',
                    titleSrc: function(item) {
                        return item.el.attr('title');
                    }
                }
            });
        });
    </script>
{% endblock %}