{% extends 'base.html.twig' %}
{% block title %}
    Výsledky - {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
{% endblock %}
{% block body %}
<div class="container">
    <div class="section">
        <img src="{{ asset('images/Logo_cz_pl_eu_barevne.jpg') }}" class="responsive-img center">
        <h4>Výsledky - Wyniki</h4>
        <div class="section record">
            <div class="row title-box">
                <h5>
                    <span>Abstrakt projektu</span>
                </h5>
            </div>
            <div class="record-titles">
                <div class="record-title row">
                    <div class="col s1">
                        <img class="z-depth-1 center" src="{{ asset('images/CZ-flag.png') }}" width="24px">
                    </div>
                    <div class="col s11">
                        <span style="margin-left: 5px;">Abstrakt - CZ</span>
                        <a href="{{ asset('files/results/abstracts/ERRATA_ABSTRACT_STRATEGIES 2019_CZ.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
                <div class="record-title row">
                    <div class="col s1">
                        <img class="z-depth-1 center" src="{{ asset('images/gb-flag.jpg') }}" width="24px">
                    </div>
                    <div class="col s11">
                        <span style="margin-left: 5px;">Abstract - EN</span>
                        <a href="{{ asset('files/results/abstracts/ERRATA_ABSTRACT_STRATEGIES 2019_EN.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section record">
            <div class="row title-box">
                <h5>
                    <i class="material-icons">today</i><span>Plány</span>
                </h5>
            </div>
            <div class="record-titles">
                <div class="record-title row">
                    <div class="col s12">
                        <span style="margin-left: 5px;">Plán snižování rizik spojených s invazivními druhy rostlin v Orlové</span>
                        <a href="{{ asset('files/results/Plán Orlová.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Plan redukcji i eliminacji inwazyjnych gatunków roślin dla gminy Mszana</span>
                        <a href="{{ asset('files/results/Plan dla Mszany.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section record">
            <div class="row title-box">
                <h5>
                    <span>Závěrečná konference</span>
                    <i class="material-icons md-18 teal-icon-color">today</i><span>20.2.2019</span>
                    <i class="material-icons md-18 teal-icon-color">location_on</i><span>Ostrava</span>
                </h5>
            </div>
            <div class="record-titles">
                <div class="record-title row">
                    <div class="col s12">
                        <span style="margin-left: 5px;">Pozvánka na Závěrečnou konferenci (NA2, VŠB-TU Ostrava, 20.2.2019 9.00)</span>
                        <a href="{{ asset('files/Pozvanka_zaverecna_konference_INVARO.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Program Závěrečné konference</span>
                        <a href="{{ asset('files/Program_zaverecna_konference_INVARO.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Program Závěrečné konference - EN</span>
                        <a href="{{ asset('files/results/zaverecna-konference/programme_en.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Desetiletý monitoring invazních křídlatek v povodí řeky Morávky</span>
                        <a href="{{ asset('files/results/zaverecna-konference/monitoring_moravka.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Zpracování výsledků terénního, pozemního šetření, formou map GIS</span>
                        <a href="{{ asset('files/results/zaverecna-konference/gis_mapy.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Hodnocení zdrojů a rizik spojených s invazními druhy rostlin v příhraniční oblasti</span>
                        <a href="{{ asset('files/results/zaverecna-konference/hodnoceni_zdroju_rizik.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Management invazních rostlin v nivě drobného vodního toku Ondřejnice</span>
                        <a href="{{ asset('files/results/zaverecna-konference/management_ondrejnice.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Metody, drogi i kierunki inwazji</span>
                        <a href="{{ asset('files/results/zaverecna-konference/metody_drogi_inwazji.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Nepůvodní druhy bezobratlých živočichů ve fauně ČR</span>
                        <a href="{{ asset('files/results/zaverecna-konference/nepuvodni_druhy_zivocichu.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Plan redukcji i eliminacji inwazyjnych gatunków roślin dla gminy Mszana</span>
                        <a href="{{ asset('files/results/zaverecna-konference/plan_mszana.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Snižování rizik spojených s invazními druhy v Orlové</span>
                        <a href="{{ asset('files/results/zaverecna-konference/snizovani_rizik_orlova.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Udržitelnost projektu Invaro</span>
                        <a href="{{ asset('files/results/zaverecna-konference/udrzitelnost_projektu_invaro.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section record">
            <div class="row title-box">
                <h5>
                    <span>Školení</span>
                    <i class="material-icons md-18 teal-icon-color">today</i><span>21.11.2018</span>
                    <i class="material-icons md-18 teal-icon-color">location_on</i><span>Ostrava</span>
                </h5>
            </div>
            <div class="record-titles">
                <div class="record-title row">
                    <div class="col s12">
                        <span style="margin-left: 5px;">Program školení</span>
                        <a href="{{ asset('files/program_Skoleni_INVARO_2.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
                <div class="record-gallery">
                    <div class="row">
                        <div class="col s12">
                            <div class="popup-gallery">
                                <a href="{{ asset('images/vysledky/skoleni-ostrava/2018-skoleni-ostrava-1.jpg') }}" title="Školení Ostrava 2018 - 1"><img src="{{ asset('images/vysledky/skoleni-ostrava/2018-skoleni-ostrava-1.jpg') }}" width="133" height="100"></a>
                                <a href="{{ asset('images/vysledky/skoleni-ostrava/2018-skoleni-ostrava-2.jpg') }}" title="Školení Ostrava 2018 - 2"><img src="{{ asset('images/vysledky/skoleni-ostrava/2018-skoleni-ostrava-2.jpg') }}" width="133" height="100"></a>
                                <a href="{{ asset('images/vysledky/skoleni-ostrava/2018-skoleni-ostrava-3.jpg') }}" title="Školení Ostrava 2018 - 3"><img src="{{ asset('images/vysledky/skoleni-ostrava/2018-skoleni-ostrava-3.jpg') }}" width="133" height="100"></a>
                                <a href="{{ asset('images/vysledky/skoleni-ostrava/2018-skoleni-ostrava-4.jpg') }}" title="Školení Ostrava 2018 - 4"><img src="{{ asset('images/vysledky/skoleni-ostrava/2018-skoleni-ostrava-4.jpg') }}" width="133" height="100"></a>
                                <a href="{{ asset('images/vysledky/skoleni-ostrava/2018-skoleni-ostrava-5.jpg') }}" title="Školení Ostrava 2018 - 5"><img src="{{ asset('images/vysledky/skoleni-ostrava/2018-skoleni-ostrava-5.jpg') }}" width="133" height="100"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section record">
            <div class="row title-box">
                <h5>
                    <i class="material-icons">done_outline</i><span>Závěrečné výstupy</span>
                </h5>
            </div>
            <div class="record-titles">
                <div class="record-title row">
                    <div class="col s12">
                        <span style="margin-left: 5px;">Strategie - obálka</span>
                        <a href="{{ asset('files/results/obalka Strategie.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Strategie řešení invazních druhů rostlin</span>
                        <a href="{{ asset('files/results/Strategie řešení invazních druhů rostlin.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Strategia działań wobec roślinnych gatunków inwazyjnych</span>
                        <a href="{{ asset('files/results/Strategia działań wobec roślinnych gatunków inwazyjnych.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Příručka k určování invazních druhů rostlin</span>
                        <a href="{{ asset('files/results/Příručka k určování invazních druhů rostlin.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Příručka k managementu invazních druhů rostlin</span>
                        <a href="{{ asset('files/results/Příručka k managementu invazních druhů rostlin.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Vyjádření Městkého úřadu Orlová</span>
                        <a href="{{ asset('files/results/Recenze Orlová.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Recenzní posudek - doc. RNDr. Pecharová</span>
                        <a href="{{ asset('files/results/Recenze Pecharová.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                    <div class="col s12">
                        <span style="margin-left: 5px;">Recenzja - dr hab. Edyta Sierka</span>
                        <a href="{{ asset('files/results/Recenzja_Sierka.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section record">
            <div class="row title-box">
                <h5>
                    <i class="material-icons md-18 teal-icon-color">today</i><span>srpen 2017</span>
                    <i class="material-icons md-18 teal-icon-color">location_on</i><span>Mszana</span>
                </h5>
            </div>
            <div class="record-titles">
                <div class="record-title row">
                    <div class="col s12">
                        <span style="margin-left: 5px;">Výsledky</span>
                        <a href="{{ asset('files/mszana-2017.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
                <div class="record-gallery">
                    <div class="row">
                        <div class="col s12">
                            <div class="popup-gallery">
                                <a href="{{ asset('images/vysledky/mszana/mszana-1.jpg') }}" title="Mszana - 1"><img src="{{ asset('images/vysledky/mszana/mszana-1.jpg') }}" width="133" height="100"></a>
                                <a href="{{ asset('images/vysledky/mszana/mszana-2.jpg') }}" title="Mszana - 2"><img src="{{ asset('images/vysledky/mszana/mszana-2.jpg') }}" width="133" height="100"></a>
                                <a href="{{ asset('images/vysledky/mszana/mszana-3.jpg') }}" title="Mszana - 3"><img src="{{ asset('images/vysledky/mszana/mszana-3.jpg') }}" width="133" height="100"></a>
                                <a href="{{ asset('images/vysledky/mszana/mszana-4.jpg') }}" title="Mszana - 4"><img src="{{ asset('images/vysledky/mszana/mszana-4.jpg') }}" width="133" height="100"></a>
                                <a href="{{ asset('images/vysledky/mszana/mszana-5.jpg') }}" title="Mszana - 5"><img src="{{ asset('images/vysledky/mszana/mszana-5.jpg') }}" width="133" height="100"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section record">
            <div class="row title-box">
                <h5>
                    <i class="material-icons md-18 teal-icon-color">today</i><span>srpen 2017</span>
                    <i class="material-icons md-18 teal-icon-color">location_on</i><span>Orlová</span>
                </h5>
            </div>
            <div class="record-titles">
                <div class="record-title row">
                    <div class="col s12">
                        <span style="margin-left: 5px;">Výsledky</span>
                        <a href="{{ asset('files/orlova-2017.pdf') }}" target="_blank">
                            <i class="material-icons md-18">picture_as_pdf</i>
                        </a>
                    </div>
                </div>
                <div class="record-gallery">
                    <div class="row">
                        <div class="col s12">
                            <div class="popup-gallery">
                                <a href="{{ asset('images/vysledky/orlova/orlova-1.jpg') }}" title="Orlová - 1"><img src="{{ asset('images/vysledky/orlova/orlova-1.jpg') }}" width="133" height="100"></a>
                                <a href="{{ asset('images/vysledky/orlova/orlova-2.jpg') }}" title="Orlová - 2"><img src="{{ asset('images/vysledky/orlova/orlova-2.jpg') }}" width="133" height="100"></a>
                                <a href="{{ asset('images/vysledky/orlova/orlova-3.jpg') }}" title="Orlová - 3"><img src="{{ asset('images/vysledky/orlova/orlova-3.jpg') }}" width="133" height="100"></a>
                                <a href="{{ asset('images/vysledky/orlova/orlova-4.jpg') }}" title="Orlová - 4"><img src="{{ asset('images/vysledky/orlova/orlova-4.jpg') }}" width="133" height="100"></a>
                                <a href="{{ asset('images/vysledky/orlova/orlova-5.jpg') }}" title="Orlová - 5"><img src="{{ asset('images/vysledky/orlova/orlova-5.jpg') }}" width="133" height="100"></a>
                                <a href="{{ asset('images/vysledky/orlova/orlova-6.jpg') }}" title="Orlová - 6"><img src="{{ asset('images/vysledky/orlova/orlova-6.jpg') }}" width="133" height="100"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.record-gallery').each(function () {
                $(this).find('.popup-gallery').magnificPopup({
                    delegate: 'a',
                    type: 'image',
                    tLoading: 'Načítání obrázku #%curr%...',
                    mainClass: 'mfp-img-mobile',
                    gallery: {
                        enabled: true,
                        navigateByImgClick: true,
                        tPrev: 'Předchozí (Šipka vlevo)', // Alt text on left arrow
                        tNext: 'Další (Šipka vpravo)', // Alt text on right arrow
                        tCounter: '%curr%/%total%', // Markup for "1 of 7" counter
                        preload: [0, 1] // Will preload 0 - before current, and 1 after the current image

                    },
                    image: {
                        tError: '<a href="%url%">Obrázek #%curr%</a> se nepodařilo načíst.',
                        titleSrc: function(item) {
                            return item.el.attr('title');
                        }
                    }
                })
            });
        });
    </script>
{% endblock %}