{% extends 'base.html.twig' %}
{% block title %}Přidat rostlinu - Administrace - INVARO{% endblock %}
{% block header %}
    {% include ':admin:header.html.twig' %}
{% endblock %}

{% form_theme addPlantForm ':form:customizedFields.html.twig' %}

{% block body %}
<div class="container">
    <div class="section">
        {% for flash_message in app.session.flashbag.get('success') %}
            <div class="row">
                <div class="center">
                    <i class="material-icons large success">check_circle</i><p>{{flash_message|raw}}</p>
                </div>
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('error') %}
            <div class="row">
                <div class="center">
                    <i class="material-icons large error">error</i><p>{{flash_message|raw}}</p>
                </div>
            </div>
        {% endfor %}
        <h5 class="">Přidat rostlinu</h5>
        <div class="row">
            {{ form_start(addPlantForm, {'attr': {'class': "col s12"}} ) }}
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(addPlantForm.name) }}
                    {{ form_errors(addPlantForm.name) }}
                    <label>Jméno</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(addPlantForm.binomialName) }}
                    {{ form_errors(addPlantForm.binomialName) }}
                    <label>Binomické jméno</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12" style="margin-bottom: 10px">
                    <label>Obrázek</label>
                </div>
                <div class="col s12">
                    <img width="250px" src="{{ asset('images/rostliny/plant-default.jpg') }}" id="plant-image" class="responsive-img">
                </div>
                <div class="input-field col s12">
                    {{ form_widget(addPlantForm.imageField) }}
                    {{ form_errors(addPlantForm.imageField) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(addPlantForm.description, {'attr': {'class': 'materialize-textarea'}}) }}
                    {{ form_errors(addPlantForm.description) }}
                    <label>Popis</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_widget(addPlantForm.height) }}
                    {{ form_errors(addPlantForm.height) }}
                    <label>Výška v metrech</label>
                </div>
            </div>
            <div class="row">
                <label style="margin-left: 0.75rem;">Společenstvo</label>
                <div class="input-field col s12">
                    {{ form_widget(addPlantForm.community) }}
                    {{ form_errors(addPlantForm.community) }}
                </div>
            </div>
            <div class="row">
                <label style="margin-left: 0.75rem;">Lokace</label>
                <div class="input-field col s12">
                {{ form_widget(addPlantForm.locations) }}
                {{ form_errors(addPlantForm.locations) }}
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <div class="center">
                        {{ form_widget(addPlantForm.submit, {'attr': {'class': 'btn btn-large waves-effect waves-light btn-green'}, 'label': 'Potvrdit'}) }}
                    </div>
                </div>
            </div>
            {{ form_end(addPlantForm) }}
        </div>
    </div>
</div>
<div id="locations-options" style="display: none">
    {% for location in locations %}
        <option value="{{ location.id }}">{{ location.name }}</option>
    {% endfor %}
</div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                console.log(input.files);
                var reader = new FileReader();

                reader.onload = function (e) {
                    console.log(e);
                    $('#plant-image').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#add_plant_imageField").change(function() {
            readURL(this);
        });
    </script>

    <script>
        $(document).ready(function(){
            $('.materialboxed').materialbox();
            var community = $('#add_plant_community');
            community.find('label').addClass('col s12');

            $('select').material_select();
            $('.select-wrapper').addClass('col s10').parent().attr('id', function(i) {
                return 'select-location-'+(i);
            });

            var collectionHolder = $('#add_plant_locations');
            var defaultLength = (collectionHolder.children().length);
            length = defaultLength-1;

            collectionHolder.find('.select-wrapper').each(function() {
                addDeleteLink($(this).parent());
            });

            addNewSelect(collectionHolder);
        });

        function addDeleteLink(select) {

            var remove = $('<span class="col s2"><a href="#"><i title="Odstranit" class="material-icons small delete-icon">cancel</i></a></span>');
            select.append(remove);

            remove.on('click', function(e) {
                e.preventDefault();

                console.log(select);
                select.remove();
            });
        }

        function addNewSelect(collectionHolder){

            var add = $('<div class="col s12"><a href="#" class="add-title"><i title="Přidat lokaci" class="material-icons small left add-icon">add_circle</i><span>Přidat lokaci</span></a></div>');
            collectionHolder.append(add);
            $('.add-title').show();
            options = $('#locations-options').html();

            add.on('click', function(e) {
                e.preventDefault();

                length = length + 1;

                var newSelect = '<div id="select-location-'+length+'"><select id="add_plant_locations_'+length+'" name="add_plant[locations]['+length+']" class="initialized">'+options+'</select></div>';
                $('#add_plant_locations').append(newSelect);
                $('select').material_select();
                $('.select-wrapper').addClass('col s10');
                addDeleteLink($('#select-location-'+length+''));
                collectionHolder.append(add);
            });
        }
    </script>
{% endblock %}