{% extends 'base.html.twig' %}
{% block title %}Administrace - INVARO{% endblock %}

{% block header %}
    {% include ':admin:header.html.twig' %}
{% endblock %}
{% block body %}
    <div class="section">
        <h4 class="center-align">Vítejte v administraci stránek projektu <span style="color: #4db6ac">INVARO</span>.</h4>
        <div class="center-align">
            <img class="vsb-logo-dash responsive-img" src="{{ asset('images/vsb-logo-large.png') }}">
        </div>
    </div>
{% endblock %}