{% extends 'base.html.twig' %}
{% block title %}Správa společenstev - Administrace - INVARO{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {% include ':admin:header.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="section">
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="row">
                    <div class="center">
                        <i class="material-icons large success">check_circle</i><p>{{flash_message|raw}}</p></div>
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="row">
                    <div class="center">
                        <i class="material-icons large error">error</i><p>{{flash_message|raw}}</p></div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col s12">
                    <a id="new" class="modal-trigger add-title" href="#modal"><i title="Přidat společenstvo" class="material-icons small left add-icon">add_circle</i><span>Přidat společenstvo</span></a>
                </div>
            </div>
            <div class="row">
                {% for community in communities %}
                <ul class="collection with-header">
                    <li class="collection-header"><h4 style="display: inline-block" id="community-title-{{ community.id }}">{{ community.name }}</h4>
                        <span id="actions-{{ community.id }}">
                        <a title="Upravit název" style="margin: 1.14rem 0 0.912rem 1rem" id="{{ community.id }}" class="modal-trigger" href="#modal"><i class="material-icons teal-icon-color">edit</i></a>
                        <a href="{{ path("admin_community_delete", {'community': community.id }) }}" title="Odstranit společenstvo"
                           onclick="return confirm('Opravdu si přejete odstranit společenstvo '+'{{ community.name }}'+'? Rostliny tohoto společenstva nebudou vymazány.');"
                           style="margin: 1.14rem 0 0.912rem 0"><i class="material-icons">delete_forever</i>
                        </a>
                        </span>
                    </li>
                    {% for plant in community.plants %}
                        <a href="{{ path("admin_plants_edit", {'slug': plant.slug} ) }}" class="collection-item">{{ plant.name }}</a>
                    {% endfor %}
                </ul>
                {% endfor %}
                {% if unassignedPlants is not empty %}
                    <ul class="collection with-header">
                        <li class="collection-header"><h4 style="display: inline-block">Nepřiřazené rostliny</h4>
                        </li>
                        {% for plant in unassignedPlants %}
                            <a href="{{ path("admin_plants_edit", {'slug': plant.slug}) }}" class="collection-item">{{ plant.name }}</a>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <label for="community-edit-input">Název společenstva</label>
                    <input id="community-edit-input" type="text">
                </div>
                <div class="modal-footer">
                    <a id="community-edit-submit" class="modal-action modal-close waves-effect btn">Potvrdit</a>
                </div>
            </div>
        </div>
    </div>
    <div class=""></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });

        $('.modal-trigger').click(function (e) {
            $('#community-edit-submit').addClass('disabled');
            id = e.currentTarget.id;
            title = $('#community-title-'+id).html();
            $('#community-edit-input').val(title).keyup(function () {
                if (this.value == ""){
                    $('#community-edit-submit').addClass('disabled');
                }
                else if ($('#community-edit-submit').hasClass('disabled') && this.value != null){
                    $('#community-edit-submit').removeClass('disabled');
                }
            });
        });

        $('#community-edit-submit').click(function () {

            var newTitle = $('#community-edit-input').val();
            var preloader = '<div class="progress"><div class="indeterminate"></div></div>';

            if (id == "new"){
                $('#new').html(preloader);
                $.post({
                    url: "{{ path("admin_community_save") }}",
                    data: { community: id, newTitle: newTitle }
                })
                    .done(function( data ) {
                        location.reload();
                    });
            }
            else{
                $('#actions-'+id).hide();
                $('#community-title-'+id).css('display', 'block').html(preloader);

                $.post({
                    url: "{{ path("admin_community_save") }}",
                    data: { community: id, newTitle: newTitle }
                    })
                    .done(function( data ) {
                        $('#community-title-'+id).text(data).css('display', 'inline-block');
                        $('#actions-'+id).show();
                    });
            }})
    </script>
{% endblock %}