{% extends 'base.html.twig' %}
{% block title %}Upravit rostlinu - Administrace - INVARO{% endblock %}
{% block header %}
    {% include ':admin:header.html.twig' %}
{% endblock %}

{% form_theme editPlantForm ':form:customizedFields.html.twig' %}

{% block body %}
    <div class="container">
        <div class="section">
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="row">
                    <div class="center">
                        <i class="material-icons large success">check_circle</i><p>{{flash_message|raw}}</p>
                    </div>
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="row">
                    <div class="center">
                        <i class="material-icons large error">error</i><p>{{flash_message|raw}}</p>
                    </div>
                </div>
            {% endfor %}
            <h5 class="">Upravit rostlinu</h5>
            <div class="row">
                {{ form_start(editPlantForm, {'attr': {'class': "col s12"}} ) }}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_widget(editPlantForm.name) }}
                        {{ form_errors(editPlantForm.name) }}
                        <label>Jméno</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_widget(editPlantForm.binomialName) }}
                        {{ form_errors(editPlantForm.binomialName) }}
                        <label>Binomické jméno</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12" style="margin-bottom: 10px">
                        <label>Obrázek</label>
                    </div>
                    <div class="col s12">
                    {% if plant.image %}
                        {% if file_exists(web_path ~ 'images/rostliny/' ~ plant.image ~ '.jpg') %}
                            <img width="250px" src="{{ asset('images/rostliny/' ~ plant.image ~ '.jpg') }}" id="plant-image" class="responsive-img">
                            <div class="section">
                                <a href="{{ path("admin_plants_delete_picture", {'slug': plant.slug}) }}" class="btn waves-effect delete-picture" title="Odstranit obrázek"><i class="material-icons left">delete_forever</i> Odstranit obrázek</a>
                            </div>
                        {% else %}
                            <img width="250px" src="{{ asset('images/rostliny/plant-default.jpg') }}" id="plant-image" class="responsive-img">
                        {% endif %}
                    {% else %}
                        <img width="250px" src="{{ asset('images/rostliny/plant-default.jpg') }}" id="plant-image" class="responsive-img">
                    {% endif %}
                    </div>
                    <div class="input-field col s12">
                        {{ form_widget(editPlantForm.imageField) }}
                        {{ form_errors(editPlantForm.imageField) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_widget(editPlantForm.description, {'attr': {'class': 'materialize-textarea'}}) }}
                        {{ form_errors(editPlantForm.description) }}
                        <label>Popis</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_widget(editPlantForm.height) }}
                        {{ form_errors(editPlantForm.height) }}
                        <label>Výška v metrech</label>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 40px">
                    <div class="col s12">
                        <label>Společenstvo</label>
                    </div>
                    <div class="input-field col s12">
                        {{ form_widget(editPlantForm.community) }}
                        {{ form_errors(editPlantForm.community) }}
                    </div>
                </div>
                <div class="row">
                    <label style="margin-left: 0.75rem;">Lokace</label>
                    <div class="input-field col s12">
                        {{ form_widget(editPlantForm.locations) }}
                        {{ form_errors(editPlantForm.locations) }}
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <div class="center">
                                {{ form_widget(editPlantForm.submit, {'attr': {'class': 'btn btn-large waves-effect waves-light btn-green'}, 'label': 'Uložit'}) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(editPlantForm) }}
                </div>
            </div>
        </div>
        <div id="locations-options" style="display: none">
            {% for location in locations %}
                <option value="{{ location.id }}">{{ location.name }}</option>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                console.log(input.files);
                var reader = new FileReader();

                reader.onload = function (e) {
                    console.log(e);
                    $('#plant-image').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
                $('.delete-picture').parent().hide();
            }
        }

        $("#edit_plant_imageField").change(function() {
            readURL(this);
        });
    </script>

    <script>
        $(document).ready(function(){
            $('.materialboxed').materialbox();
            var community = $('#edit_plant_community');
            community.find('label').addClass('col s12');
            $('select').material_select();

            $('.select-wrapper').addClass('col s10').parent().attr('id', function(i) {
                return 'select-location-'+(i);
            });

            var collectionHolder = $('#edit_plant_locations');
            var defaultLength = (collectionHolder.children().length);
            length = defaultLength-1;

            collectionHolder.find('.select-wrapper').each(function() {
                addDeleteLink($(this).parent());
            });

            addNewSelect(collectionHolder);
        });

        function addDeleteLink(select) {

            var remove = $('<span class="col s2"><a href="#"><i title="Odstranit" class="material-icons small delete-icon">cancel</i></a></span>');
            select.append(remove);

            remove.on('click', function(e) {
                e.preventDefault();

                console.log(select);
                select.remove();
            });
        }

        function addNewSelect(collectionHolder){

            var add = $('<div class="col s12"><a href="#" class="add-title"><i title="Přidat lokaci" class="material-icons small left add-icon">add_circle</i><span>Přidat lokaci</span></a></div>');
            collectionHolder.append(add);
            $('.add-title').show();
            options = $('#locations-options').html();

            add.on('click', function(e) {
                e.preventDefault();

                length = length + 1;

                var newSelect = '<div id="select-location-'+length+'"><select id="edit_plant_locations_'+length+'" name="edit_plant[locations]['+length+']" class="initialized">'+options+'</select></div>';
                $('#edit_plant_locations').append(newSelect);
                $('select').material_select();
                $('.select-wrapper').addClass('col s10');
                addDeleteLink($('#select-location-'+length+''));
                collectionHolder.append(add);
            });
        }
    </script>
{% endblock %}