{% set route = app.request.attributes.get('_route') %}
<ul id="dropdown-user" class="dropdown-content" style="margin-top: 64px">
    <li><a href="{{ path('dashboard') }}">Opustit administraci</a></li>
    <li><a href="{{ path('fos_user_security_logout') }}">Odhlásit se</a></li>
</ul>
<ul id="dropdown-user-mobile" class="dropdown-content" style="margin-top: 48px">
    <li><a href="{{ path('dashboard') }}">Opustit administraci</a></li>
    <li><a href="{{ path('fos_user_security_logout') }}">Odhlásit se</a></li>
</ul>
<div class="navbar-fixed navbar-admin">
    <nav>
        <div class="nav-wrapper grey lighten-4">
            <a class="brand-logo">
                <span>INVARO</span>
            </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="waves-effect waves-light {{ route ==  'admin_plants' ? "active" }}"><a href="{{ path('admin_plants') }}"><i class="material-icons small left">settings</i>Správa rostlin</a></li>
                <li class="waves-effect waves-light {{ route ==  'admin_community' ? "active" }}"><a href="{{ path('admin_community') }}"><i class="material-icons small left">settings_applications</i>Správa společenstev</a></li>
                <li class="waves-effect waves-light {{ route ==  'admin_locations' ? "active" }}"><a href="{{ path('admin_locations') }}"><i class="material-icons small left">location_on</i>Správa lokací</a></li>
                <li class="waves-effect waves-light {{ route ==  'admin_users' ? "active" }}"><a href="{{ path('admin_users') }}"><i class="material-icons small left">people</i>Správa uživatelů</a></li>
                <li class="waves-effect waves-light dropdown-button username-dropdown" data-activates="dropdown-user"><a><i class="material-icons left">verified_user</i>{{ app.user.username }} <i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
        <div class="admin-title-wrapper z-depth-3">
            <div class="admin-title center">ADMINISTRACE</div>
        </div>
    </nav>
</div>
<ul class="side-nav grey lighten-4" id="mobile-demo">
    <li class="{{ route ==  'admin_plants' ? "active" }}"><a href="{{ path('admin_plants') }}"><i class="material-icons small left">settings</i>Správa rostlin</a></li>
    <li class="{{ route ==  'admin_community' ? "active" }}"><a href="{{ path('admin_community') }}"><i class="material-icons small left">settings_applications</i>Správa společenstev</a></li>
    <li class="{{ route ==  'admin_locations' ? "active" }}"><a href="{{ path('admin_locations') }}"><i class="material-icons small left">location_on</i>Správa lokací</a></li>
    <li class="{{ route ==  'admin_users' ? "active" }}"><a href="{{ path('admin_users') }}"><i class="material-icons small left">people</i>Správa uživatelů</a></li>
    <li class="dropdown-button username-dropdown" data-activates="dropdown-user-mobile"><a><i class="material-icons small left">verified_user</i>{{ app.user.username }} <i class="material-icons right">arrow_drop_down</i></a></li>
</ul>
