{% extends 'base.html.twig' %}
{% block title %}Správa lokací - Administrace - INVARO{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {% include ':admin:header.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="section">
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="row">
                    <div class="center">
                        <i class="material-icons large success">check_circle</i><p>{{flash_message|raw}}</p></div>
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="row">
                    <div class="center">
                        <i class="material-icons large error">error</i><p>{{flash_message|raw}}</p></div>
                </div>
            {% endfor %}
            <div class="row" id="new">
                <div class="col s12">
                    <a class="modal-trigger add-title" href="#modal-new"><i title="Přidat lokaci" class="material-icons small left add-icon">add_circle</i><span>Přidat lokaci</span></a>
                </div>
            </div>
            <div class="row">
                {% for country in countries %}
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h4>{{ country.name }} <img class="z-depth-1" src="{{ asset('images/' ~ country.countryCode ~ '-flag.png') }}" width="32px"></h4>
                    </li>
                    {% for location in country.locations %}
                            <li class="collection-item" id="{{ location.id }}">
                                <span id="location-row-{{ location.id }}"><i class="material-icons small left">location_on</i>
                                    <span id="location-name-{{ location.id }}">{{ location.name }}</span>
                                    <a href="{{ path("admin_locations_delete", {'location': location.id }) }}" title="Odstranit lokaci"
                                       class="modal-trigger secondary-content pink-icon-color"
                                       onclick="return confirm('Opravdu si přejete odstranit lokaci '+'{{ location.name }}'+'? Rostliny v této lokaci nebudou vymazány.');">
                                        <i class="material-icons">delete</i></a>
                                    <a href="#modal" title="Upravit lokaci" class="modal-trigger secondary-content"><i class="material-icons teal-icon-color">edit</i></a>
                                </span>
                            </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <label for="location-edit-input">Název lokace</label>
                    <a class="modal-close right black-icon-color"><i class="material-icons">close</i></a>
                    <input id="location-edit-input" type="text">
                </div>
                <div class="modal-footer">
                    <a id="location-edit-submit" class="modal-action modal-close waves-effect btn">Potvrdit</a>
                </div>
            </div>
            <div id="modal-new" class="modal">
                <div class="modal-content">
                    <label for="location-new-input">Název lokace</label>
                    <a class="modal-close right black-icon-color"><i class="material-icons">close</i></a>
                    <input id="location-new-input" type="text">
                    <form name="country-radio-form" id="country-radio-form">
                        <label>Vyberte zemi</label>
                        {% for country in countries %}
                        <p>
                            <input name="country-group" type="radio" id="country-radio-{{ country.id }}" value="{{ country.id }}" {% if loop.first %}checked{% endif %} />
                            <label for="country-radio-{{ country.id }}">{{ country.name }}</label>
                            <img class="z-depth-1" src="{{ asset('images/' ~ country.countryCode ~ '-flag.png') }}" width="18px"></h4>
                            </p>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <a id="location-new-submit" class="modal-action modal-close waves-effect btn">Potvrdit</a>
                </div>
            </div>
        </div>
    </div>
    <div class=""></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
            $('.modal-close').click(function () {
                $('#modal').modal('close');
            })
        });

        $('.modal-trigger').click(function (e) {
            id = e.currentTarget.parentElement.parentElement.id;
            if (id == "new"){
                name = '';
                action = 'new';
            }
            else {
                name = $('#location-name-'+id).html();
                action = 'edit';
            }
            $('#location-'+action+'-submit').addClass('disabled');
            $('#location-'+action+'-input').val(name).keyup(function () {
                if (this.value == ""){
                    $('#location-'+action+'-submit').addClass('disabled');
                }
                else if ($('#location-'+action+'-submit').hasClass('disabled') && this.value != null){
                    $('#location-'+action+'-submit').removeClass('disabled');
                }
            });
        });

        $('#location-edit-submit').click(function () {

            var newName = $('#location-edit-input').val();
            var preloader = '<div class="progress"><div class="indeterminate"></div></div>';

                li = $('#location-row-'+id).html();
                $('#location-row-'+id).html(preloader);
                $.ajax({
                    method: "GET",
                    url: "{{ path("admin_locations_save") }}",
                    data: { location: id, newName: newName }
                })
                    .done(function( data ) {
                        $('#location-row-'+id).html(li);
                        $('#location-name-'+id).html(data);
                    });
        });

        $('#location-new-submit').click(function () {

            var newName = $('#location-new-input').val();
            var preloader = '<div class="progress"><div class="indeterminate"></div></div>';
            var country = $('input[name=country-group]:checked', '#country-radio-form').val();
            console.log(country);

                $('#new').html(preloader);
                $.ajax({
                    method: "GET",
                    url: "{{ path("admin_locations_save") }}",
                    data: { location: id, newName: newName, country: country }
                })
                    .done(function( data ) {
                        location.reload();
                    });
            });
    </script>
{% endblock %}