{% extends 'base.html.twig' %}
{% block title %}Správa rostlin - Administrace - INVARO{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"  media="screen,projection"/>
{{ parent() }}
{% endblock %}
{% block header %}
{% include ':admin:header.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="section">
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="row">
                    <div class="center">
                        <i class="material-icons large success">check_circle</i><p>{{flash_message|raw}}</p>
                    </div>
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="row">
                    <div class="center">
                        <i class="material-icons large error">error</i><p>{{flash_message|raw}}</p></div>
                </div>
            {% endfor %}
            <table id="plants-administration" class="display" cellspacing="0" width="100%" style="table-layout: fixed">
                <thead>
                <tr>
                    <th width="87px"></th>
                    <th>JMÉNO</th>
                    <th>BINOMICKÉ JMÉNO</th>
                    <th>VÝŠKA [m]</th>
                    <th>LOKACE</th>
                    <th>SPOLEČENSTVO</th>
                </tr>
                </thead>
                <tbody>
                {% for plant in plants %}
                    <tr>
                        <td class="center" width="87px">
                            <a href="{{ path("admin_plants_edit", {"slug": plant.slug }) }}" class="btn btn-floating waves-effect edit-plant" title="Upravit"><i class="material-icons center">edit</i></a>
                            <a href="{{ path("admin_plants_delete", {"slug": plant.slug }) }}" class="btn btn-floating waves-effect delete-plant" title="Odstranit" onclick="return confirm('Opravdu si přejete vymazat rostlinu '+'{{ plant.name }}'+'?');"><i class="material-icons center">delete_forever</i></a>
                        </td>
                        <td>{{ plant.name }}</td>
                        <td>{{ plant.binomialName }}</td>
                        <td>{{ plant.height }}</td>
                        <td>
                            {% for location in plant.locations %}
                                {{ location.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>{% if plant.community %}{{ plant.community.name }}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="section"></div>
    <div class="section"></div>
    <div class="fixed-action-btn">
        <a href="{{ path('admin_plants_add') }}" class="btn-floating btn-large waves-effect waves-light" title="Přidat rostlinu">
            <i class="large material-icons">add</i>
        </a>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#plants-administration').DataTable({
                    "oLanguage": {
                        "sEmptyTable":     "Tabulka neobsahuje žádná data",
                        "sInfo":           "Zobrazuji _START_ až _END_ z celkem _TOTAL_ záznamů",
                        "sInfoEmpty":      "Zobrazuji 0 až 0 z 0 záznamů",
                        "sInfoFiltered":   "(filtrováno z celkem _MAX_ záznamů)",
                        "sInfoPostFix":    "",
                        "sInfoThousands":  " ",
                        "sLengthMenu":     "Zobrazit počet záznamů _MENU_",
                        "sLoadingRecords": "Načítám...",
                        "sProcessing":     "Provádím...",
                        "sSearch":         "Hledat:",
                        "sSearchPlaceholder":"Zadejte hledaný výraz",
                        "sZeroRecords":    "Žádné záznamy nebyly nalezeny",
                        "oPaginate": {
                            "sFirst":    "1",
                            "sLast":     "_TOTAL_",
                            "sNext":     ">",
                            "sPrevious": "<"
                        }
                    },
                    "columnDefs": [{
                        "targets": 0,
                        "orderable": false,
                        "width": '87'
                    }],
                    "ColumnDefs": [
                        { "type": "num", "targets": 3 }
                    ],
                    "order": [[1, 'asc']],
                    "responsive": true,
                    "scrollX": true,
                    "lengthMenu": [ 10, 25, 50],
                    "scrollCollapse": true
            });
            $('select[name=plants-administration_length]').addClass('browser-default');
        } );
    </script>
{% endblock %}