{% extends 'base.html.twig' %}
{% block title %}Správa uživatelů - Administrace - INVARO{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"  media="screen,projection"/>
    {{ parent() }}
{% endblock %}
{% block header %}
    {% include ':admin:header.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="section">
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="row">
                    <div class="center">
                        <i class="material-icons large success">check_circle</i><p>{{flash_message|raw}}</p>
                    </div>
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="row">
                    <div class="center">
                        <i class="material-icons large error">error</i><p>{{flash_message|raw}}</p></div>
                </div>
            {% endfor %}
            <table id="users-administration" class="display" cellspacing="0" width="100%" style="table-layout: fixed">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>UŽIVATELSKÉ JMÉNO</th>
                    <th>EMAIL</th>
                    <th>REGISTROVÁN</th>
                    <th>NAPOSLEDY PŘIHLÁŠEN</th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>ROLE</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.registeredAt|date('Y/m/d H:i:s') }}</td>
                        <td>{{ user.lastLogin|date('Y/m/d H:i:s') }}</td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td>{% for role in user.roles %}
                            {% if role == 'ROLE_USER' and not user.hasRole('ROLE_ADMIN') and not user.hasRole('ROLE_SUPER_ADMIN')%}
                                UŽIVATEL <a style="float: right" href="{{ path('admin_users_promote', {'user': user.id}) }}" class="pink-icon-color">Povýšit na admina</a><i class="material-icons left teal-icon-color">account_circle</i>
                            {% elseif role == 'ROLE_ADMIN' and not user.hasRole('ROLE_SUPER_ADMIN')%}
                                <i class="material-icons left pink-icon-color">verified_user</i>ADMIN <a style="float: right" href="{{ path('admin_users_demote', {'user': user.id}) }}" class="teal-icon-color">Degradovat na uživatele</a>
                            {% elseif role == 'ROLE_SUPER_ADMIN' %}
                                <i class="material-icons left yellow-icon-color">grade</i>SUPER ADMIN
                            {% endif %}
                            {% endfor %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#users-administration').DataTable({
                "oLanguage": {
                    "sEmptyTable":     "Tabulka neobsahuje žádná data",
                    "sInfo":           "Zobrazuji _START_ až _END_ z celkem _TOTAL_ záznamů",
                    "sInfoEmpty":      "Zobrazuji 0 až 0 z 0 záznamů",
                    "sInfoFiltered":   "(filtrováno z celkem _MAX_ záznamů)",
                    "sInfoPostFix":    "",
                    "sInfoThousands":  " ",
                    "sLengthMenu":     "Zobrazit počet záznamů _MENU_",
                    "sLoadingRecords": "Načítám...",
                    "sProcessing":     "Provádím...",
                    "sSearch":         "Hledat:",
                    "sSearchPlaceholder":"Email nebo uživatelské jméno",
                    "sZeroRecords":    "Žádné záznamy nebyly nalezeny",
                    "oPaginate": {
                        "sFirst":    "1",
                        "sLast":     "_TOTAL_",
                        "sNext":     ">",
                        "sPrevious": "<"
                    }
                },
                "columnDefs": [{
                    "targets": 3,
                    "searchable": false,
                    "type": 'date'
                },{
                    "targets": 4,
                    "searchable": false
                },
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    {
                    "targets": 5,
                    "searchable": false,
                    "width": '250'
                },
                {% endif %}
                    {
                    "targets": 0,
                    "searchable": false,
                    "width": '50'
                }],

                "order": [[0, 'asc']],
                "responsive": true,
                "scrollX": true,
                "lengthMenu": [ 10, 25, 50],
                "scrollCollapse": true
            });
            $('select[name=users-administration_length]').addClass('browser-default');
        } );
    </script>
{% endblock %}