{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="section">
        <div class="z-depth-2 grey lighten-4 row" style="display: inline-block; padding: 20px 50px 0px 50px; border: 1px solid #EEE;">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}
                <div class="row">
                    <button class="col s12 btn btn-large waves-effect" type="submit" id="_submit" name="_submit"
                            value="{{ 'registration.submit'|trans }}">Registrovat se</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    <a href="{{ path("fos_user_security_login") }}">Přihlásit se</a>
    <div class="section">
        <img class="responsive-img" width="50" src="{{ asset('images/vsb-logo-large.png') }}" />
    </div>
</div>
