// sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fcfcfc;
}

main {
  flex: 1 0 auto;
}

// preloader
#preloader-row{
  position: absolute;
  top: 46%;
  left: 46%;
}

// dashboard
.vsb-logo-dash{
  max-width: 80% !important;
}

// navbar
nav {
  margin-bottom: 2px;
}
.brand-logo{
  span{
    padding: 0 25px;
    font-weight: 700;
    color: color("teal", "lighten-2");
    cursor: default;
  }
}
nav .brand-logo {
  padding: 0 10px;
  img {
    height: 60px;
    padding-top: 5px;
    @media #{$small-and-down} {
      height: 50px;
    }
  }
  span {
    vertical-align: top;
    padding: 0 10px;
    font-weight: 700;
    color: #4db6ac;
    @media #{$medium-and-down} {
      display: none;
    }
  }
}
.admin-title {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: $badge-bg-color;
  border-radius: 2px;
  line-height: 30px;
}
.admin-title-wrapper{
  width: 160px;
  @media #{$medium-and-down} {
    margin: 0 auto;
  }
}
.navbar-admin{
  height: 94px;
  @media #{$small-and-down} {
    height: 86px;
  }
}
.navbar-fixed{
  a{
    color: color("teal", "lighten-2");
  }
  i{
    color: color("grey", "darken-1");
  }
  nav {
    background-color: #f5f5f5;
    .nav-wrapper {
      max-width: 1900px;
      margin: auto;
    }
  }
  @media #{$large-only} {
    nav ul a {
      padding: 0 10px;
      font-size: 11.5px;
    }
  }
}

.side-nav{
  a{
    color: color("teal", "lighten-2");
  }
}
.username-dropdown{
  background-color: color("teal", "lighten-2");
  a, .material-icons{
    color: white !important;
  }
}

// records
.record{
  padding-bottom: 0;
}
.record-titles {
  padding-top: 1rem;
}
.record-title {
  margin-top: 5px;
  a {
    i {
      vertical-align: bottom;
    }
  }
  img {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    vertical-align: bottom;
    margin: 0;
    margin-left: 50%;
    margin-right: 50%;
  }
}
.title-box {
  background: linear-gradient(to right, #55cabe, rgba(85, 202, 190, 0.15));
  border-radius: 45px;
  padding: 5px;
  margin-bottom: 0;
  i {
    color: white;
    font-size: 18px;
  }
  span{
    margin: 0 10px;
  }
  h5{
    margin-left: 10px;
  }
}

// footer
footer{
  &.page-footer{
    padding-top: 0;
  }
}

// table
table{
  th{
    color: color("teal", "lighten-2");
  }
}

//plants cards
.tabs{
  .tab{
    a{
      color: color("teal", "lighten-4");
      padding: 0 5px;
      &:hover, &.active{
        color: color("teal", "lighten-2");
      }
    }
  }
}
.query-results{
  span{
    color: color("teal", "lighten-2");
  }
}

// plants cards flow
$small-screen-up-cards: 651px !default;
$medium-screen-up-cards: 1186px !default;
$large-screen-up-cards: 1201px !default;
$small-screen-cards: 650px !default;
$medium-screen-cards: 1185px !default;
$large-screen-cards: 1200px !default;

$medium-and-up-cards: "(min-width : #{$small-screen-up-cards})" !default;
$large-and-up-cards: "(min-width : #{$medium-screen-up-cards})" !default;
$small-and-down-cards: "(max-width : #{$small-screen-cards})" !default;
$medium-and-down-cards: "(max-width : #{$medium-screen-cards})" !default;
$medium-only-cards: "(min-width : #{$small-screen-up-cards}) and (max-width : #{$medium-screen-cards})" !default;

@mixin column-count($ct) {
  -webkit-column-count: $ct;
  -moz-column-count: $ct;
  column-count: $ct;
}

.cards-container {
  column-break-inside: avoid;
  .card {
    display: inline-block;
    overflow: visible;
  }
}

@media #{$small-and-down-cards} {
  .cards-container {
    @include column-count(1);
  }
}
@media #{$medium-and-up-cards} {
  .cards-container {
    @include column-count(2);
  }
}
@media #{$large-and-up-cards} {
  .cards-container {
    @include column-count(3);
  }
}

// plants detail
.detail-title{
  padding: 12px 0;
  h5{
    text-transform: uppercase;
    cursor: default;
  }
  &::after{
    content: '';
    width: 100%;
    border-bottom: solid 1px $primary-color;
    z-index: 1;
  }
}
.detail-image{
  margin-bottom: 20px;
  img{
    margin: 0 auto;
  }
}
#plantsSelect{
  margin: 15px 0;
  border-color: color("teal", "lighten-2");
}
.fixed-action-btn{
  bottom: 10% !important;
}
a.paginate_button {
  color: color("shades", "white") !important;
}
a.paginate_button:hover {
  background: color("teal", "lighten-2") !important;
  color: color("shades", "white") !important;
}
.popup-gallery {
  padding-top: 1rem;
}

// about
.table-contact{
  td{
    padding: 10px;
  }
  tr{
    border-bottom: 1px solid #caf1ed;
  }
  i{
  vertical-align: bottom;
  }
  &.people{
    .label{
      width: 30%;
    }
  }
}
.subject-img{
  width: 20%;
}
.flags{
  padding-top: 1rem;
}

// dataTable
.dataTables_wrapper {
  .dataTables_paginate {
    .paginate_button {
      background: color("grey", "lighten-4") !important;
      color: #000 !important;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      border-radius: 2px !important;
      margin-left: 2px !important;
      border: 0 !important;
      padding: 6.5px 13px !important;
      &:hover {
        background: color("grey", "lighten-1") !important;
        color: #000 !important;
      }
      &.current, &.current:hover {
        background: color("teal", "lighten-2") !important;
        color: color("shades", "white") !important;
        border: 0 !important;
      }
      &.disabled, &.disabled:hover {
        background: transparent !important;
        color: #666 !important;
      }
    }
  }
}
table {
  &.dataTable {
    thead {
      th, td {
        border-bottom: none;
      }
      .sorting_asc {
        background-image: url("../images/datatables/sort_asc.png") !important;
      }
      .sorting_desc {
        background-image: url("../images/datatables/sort_desc.png") !important;
      }
    }
    &.row-border, &.display {
      tbody {
        th, td {
          border-top: none;
        };
      }
    }
  }
}
.browser-default{
  font-size: 15px;
}

// add plant
.delete-icon {
  margin-top: 10px;
}
.add-icon {
  color: $primary-color;
  line-height: 0.8;
}
.add-title {
  color: $primary-color;
}

// flash messages
.success{
    color: color("teal", "lighten-1");;

}
.error{
    color: color("pink", "accent-3");
}

.delete-picture, .delete-plant{
  background-color: color("pink", "accent-3");
  color: color("shades", "white");
  &:hover, &:focus{
    background-color: lighten(color("pink", "accent-3"), 10%);
  }
}
.edit-plant{
  background-color: color("teal", "lighten-1");
  color: color("shades", "white");
  &:hover, &:focus{
    background-color: lighten(color("teal", "lighten-1"), 10%);
  }
}
.teal-icon-color{
  color: $primary-color;
}
.pink-icon-color{
  color: color("pink", "accent-3");
}
.black-icon-color{
  color: #000000
}
.yellow-icon-color{
  color: color("yellow", "accent-4");
}