{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<h5 class="grey-text">Prosím, přihlašte se.</h5>
<div class="section">
    <div class="z-depth-2 grey lighten-4 row" style="display: inline-block; padding: 20px 50px 0px 50px; border: 1px solid #EEE;">
        <form class="col s12" action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    <label for="username">Uživatelské jméno{#{{ 'security.login.username'|trans }}#}</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input type="password" id="password" name="_password" required="required" />
                    <label for="password">Heslo{#{{ 'security.login.password'|trans }}#}</label>
                </div>
            </div>

            <div class="row">
                <input type="checkbox" id="remember_me" class="filled-in" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>

            <div class="row">
                <button class="col s12 btn btn-large waves-effect" type="submit" id="_submit" name="_submit"
                        value="{{ 'security.login.submit'|trans }}">Přihlásit se</button>
            </div>
        </form>
    </div>
</div>
<a href="{{ path("fos_user_registration_register") }}">Vytvořit účet</a>
<div class="section">
    <img class="responsive-img" width="50" src="{{ asset('images/vsb-logo-large.png') }}" />
</div>
