<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>
        {% block title %}INVARO{% endblock %}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{ asset('css/materialize.css') }}"  media="screen,projection"/>
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
        {% include 'header.html.twig' %}
    {% endblock %}
</header>
{% block body %}

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="container">
                <div class="section">
                    <div class="row">
                        <div class="center">
                            <i class="material-icons large success">check_circle</i>
                            <div class="flash-{{ type }}">
                                {{ message }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<main>
    <center>
        <div class="container">
            <div class="section"></div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>
    </center>
</main>
{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/materialize-0-97-8.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(".button-collapse").sideNav();
            })
        </script>
{% endblock %}

</body>
</html>
